@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONT_AWESOME_TOKEN}
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}
@mcity:registry=https://npm.pkg.github.com
