export FONT_AWESOME_TOKEN=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX

VUE_APP_MIXPANEL_TOKEN=YOURPROJECTOKENHERE
VUE_APP_OAUTH_KEY=Mcity keys client_id
VUE_APP_HOST=https://api.um.city
VUE_APP_OAUTH_SERVER=https://keys.um.city/
VUE_APP_REDIRECT_URI=http://localhost:8080/authorized
VUE_APP_OAUTH_SCOPE=email+roles
VUE_APP_TESTING=false

GITHUB_PACKAGES_TOKEN="Create token at https://github.com/settings/tokens"